!!!
%html{:class => session[:color_scheme]}
  %head
    %title pludoni Notes
    %link(rel="icon" href="/favicon.ico" type="image/png")
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield(:head)
  %body
    #container
      #header
        #headercontent
          %span#h-title= link_to "pludoniNotes", root_path
          .login
            = link_to " ", "#", :id => "light-switcher"
            = link_to "Impressum", "/pages/about"
            |
            - if current_user.present?
              = link_to "+", new_note_path
              |
              = link_to "Admin", rails_admin_path
              |
              = link_to "Logout", destroy_user_session_path
              |
              Eingeloggt als
              = current_user.email

            - else
              = link_to "Login", new_user_session_path

      %p.notice= notice
      %p.alert= alert
      = yield
