!!!
%html
  %head
    %title pludoni Notes
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #container


      #header
        #headercontent
          pludoniNotes
          .login
            = link_to "Login", new_user_session_path

      %p.notice= notice
      %p.alert= alert
      = yield
